In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import io
%matplotlib inline

In [2]:
test=pd.read_csv("test_2umaH9m.csv")
train=pd.read_csv("train_LZdllcl.csv")

In [3]:
train

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54803,3030,Technology,region_14,Bachelor's,m,sourcing,1,48,3.0,17,0,0,78,0
54804,74592,Operations,region_27,Master's & above,f,other,1,37,2.0,6,0,0,56,0
54805,13918,Analytics,region_1,Bachelor's,m,other,1,27,5.0,3,1,0,79,0
54806,13614,Sales & Marketing,region_9,NaN,m,sourcing,1,29,1.0,2,0,0,45,0
54807,51526,HR,region_22,Bachelor's,m,other,1,27,1.0,5,0,0,49,0

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54808 entries, 0 to 54807
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   employee_id           54808 non-null  int64
 1   department            54808 non-null  object
 2   region                54808 non-null  object
 3   education             52399 non-null  object
 4   gender                54808 non-null  object
 5   recruitment_channel   54808 non-null  object
 6   no_of_trainings       54808 non-null  int64
 7   age                   54808 non-null  int64
 8   previous_year_rating  50684 non-null  float64
 9   length_of_service     54808 non-null  int64
 10  KPIs_met >80%         54808 non-null  int64
 11  awards_won?           54808 non-null  int64
 12  avg_training_score    54808 non-null  int64
 13  is_promoted           54808 non-null  int64
dtypes: float64(1), int64(8), object(5)
memory usage: 5.9+ MB

In [5]:
train.isnull().sum().sort_values()

employee_id                0
department                 0
region                     0
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
is_promoted                0
education               2409
previous_year_rating    4124
dtype: int64

In [6]:
train.is_promoted.value_counts()

0    50140
1     4668
Name: is_promoted, dtype: int64

In [7]:
train.education=train.education.fillna(train.education.value_counts().idxmax())

In [8]:
train.previous_year_rating.value_counts(dropna=False)

3.0    18618
5.0    11741
4.0     9877
1.0     6223
2.0     4225
NaN     4124
Name: previous_year_rating, dtype: int64

In [9]:
train.previous_year_rating=train.previous_year_rating.fillna(train.previous_year_rating.value_counts().idxmax())

In [10]:
train.previous_year_rating.value_counts(dropna=False)

3.0    22742
5.0    11741
4.0     9877
1.0     6223
2.0     4225
Name: previous_year_rating, dtype: int64

In [11]:
train.length_of_service.groupby(train.is_promoted).var()

is_promoted
0    18.387278
1    16.062239
Name: length_of_service, dtype: float64

In [12]:
zero=train[train.is_promoted==0]
one=train[train.is_promoted==1]

In [13]:
from scipy.stats import ttest_ind

In [14]:
ttest_ind(zero.length_of_service,one.length_of_service)

Ttest_indResult(statistic=2.4980306538722714, pvalue=0.012491446010434766)

In [15]:
ttest_ind(zero.no_of_trainings,one.no_of_trainings)

Ttest_indResult(statistic=5.8301110020581115, pvalue=5.570013982389039e-09)

In [16]:
train.shape

(54808, 14)

In [17]:
train.avg_training_score.groupby(train.recruitment_channel).mean()

recruitment_channel
other       63.362839
referred    66.182137
sourcing    63.280620
Name: avg_training_score, dtype: float64

In [18]:
other=train[train.recruitment_channel=="other"]
reffer=train[train.recruitment_channel=="referred"]
source=train[train.recruitment_channel=="sourcing"]

In [19]:
from scipy.stats import f_oneway

In [20]:
f_oneway(other.avg_training_score,reffer.avg_training_score,source.avg_training_score)

F_onewayResult(statistic=25.758203095600134, pvalue=6.585805990029605e-12)

In [21]:
train.columns

Index(['employee_id', 'department', 'region', 'education', 'gender',
       'recruitment_channel', 'no_of_trainings', 'age', 'previous_year_rating',
       'length_of_service', 'KPIs_met >80%', 'awards_won?',
       'avg_training_score', 'is_promoted'],
      dtype='object')

In [22]:
objcols=('employee_id', 'department', 'region', 'education', 'gender',
       'recruitment_channel','previous_year_rating', 'KPIs_met >80%', 'awards_won?','is_promoted')

In [23]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

for col in objcols:
        train[col]=le.fit_transform(train[col])

In [24]:
objcols1=('employee_id', 'department', 'region', 'education', 'gender',
       'recruitment_channel','previous_year_rating', 'KPIs_met >80%', 'awards_won?')
for col in objcols1:
        test[col]=le.fit_transform(test[col])

In [25]:
y=train.is_promoted
X=train.drop(['employee_id','is_promoted'],axis=1)

In [26]:
 from sklearn.linear_model import LogisticRegression

In [27]:
lr=LogisticRegression(max_iter=3000)

In [28]:
model=lr.fit(X,y)

In [29]:
model.score(X,y)

0.9172566048752007

In [30]:
from sklearn.neighbors import KNeighborsClassifier

In [31]:
from sklearn.model_selection import GridSearchCV

In [32]:
parameters={'n_neighbors':range(1,50), 'weights':['uniform','distance']}

In [33]:
gridsearch=GridSearchCV(KNeighborsClassifier(),parameters)

In [34]:
gridsearchmodel=gridsearch.fit(X,y)

In [35]:
gridsearchmodel.best_params_

{'n_neighbors': 8, 'weights': 'distance'}

In [36]:
knn=KNeighborsClassifier(n_neighbors=8)

In [37]:
model=knn.fit(X,y)

In [38]:
model.score(X,y)

0.9275470734199387

TypeError: predict() takes 2 positional arguments but 3 were given